@font-face {
	font-family: "Boingo";
	src: url("Boingo.ttf");
}

html, body {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

.titleBar {
	margin: 0;
  font-family: "Boingo", sans-serif;
	font-size: 42px;
}

.titleBar h1 {
	font-size: 12;
}

div {
 margin: 0;
 padding: 0;
}

.container {
 display: flex;
 height: 600px;
 width: 750px;
 flex-direction: column;
 padding: 5px;
 margin: auto;
}

.grid {
 flex: 15 ;
 display: flex;
 padding: 5px;
 flex-wrap: wrap;
 align-content: start;
 align-items: stretch;
 box-sizing: border-box;
}

.pixelSquare {
  border: .1px solid white;
  height: 5%;
  width: 3%;
  background: #ddd;
  box-sizing:border-box;
}


.paintRow {
 flex: 1 ;
 display: flex;
 padding: 5px;
 align-items: center;
}

.paintChip {
  flex: 1;
  height: 100%;
  border-radius: 50px;
}

#currentColorLabel {
  flex: 5;
  font-size: 10px;
  padding-left: 20px;
}

#currentColorBox {
  flex: 2;
  width: 100%;
  height: 100%;
  background-color: red;
  border: 0.1px solid black;
	margin-right: 10px;
}

.tinyIcon {
	font-size: 12px;
}

#paintButton {
  flex:1;
	display:flex;
  height: 17px;
	padding:0;
	margin-left: 2px;
}

#saveButton {
  flex:1;
	display:flex;
  height: 17px;
	padding:0;
	margin-left: 2px;
}

#eraseButton {
	flex:1;
	height: 17px;
	padding:0;
	display:flex;
	margin-left: 2px;
}

#musicButton {
  flex:1;
	display:flex;
  height: 17px;
	margin-left: 2px;
	padding:0;
}

#fillButton {
  flex:1;
	display:flex;
  height: 17px;
	margin-left: 2px;
	padding:0;
}
